extends ../layout

block content
	.container.row
		include _menu
		.col-xs-9
			.box
				h4.color-blue-grey-500
					i.material-icons account_box
					= t('settings:menu.avatar')
				.box-base
					.box-chrome
						section
							| todo
					.box-actions
						div
							button#edit-submit(type="submit", class="btn btn-green")
								span
									i.fa.fa-check
									= t('actions.save')
