.new-request-typeinfo {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    display:block;
    margin: 0;
    padding: 8px 0;
    border-top:1px dotted #CCC;
    color:#444;

    &:first-child {
      border-top:none;
    }

    > strong {
      display: block;

      > svg {
        vertical-align: middle;
        margin-top: -1px;
      }

    }

    > span {
      display: block;
      padding-left: 28px;
    }

  }

}
