#container-sidebar {
    width:250px;
    float:left;

    > div {
        background-color: $ux-color-darkgrey;
        color:#FFF;
        width:250px;
        min-height:500px;
        border-bottom-right-radius: 10px;
    }

}