extends ../layout

block content
	.dashboard
		.dashboard-caption
			a(href="", target="_blank", rel="nofollow")
				strong ---
				|  by 
				span ---
		if usrtime.hour() < 12
			h1= t('dashboard:welcome.morning', {name: usr.firstName})
		else if usrtime.hour() >= 18
			h1= t('dashboard:welcome.evening', {name: usr.firstName})
		else
			h1= t('dashboard:welcome.afternoon', {name: usr.firstName})