extends ../layout

block content
	.item-header
		h1.item-title Offices page - Address display needs to be customizable for each country
		span.item-subtitle Submitted on March 19th, 2015 at 4:06 PM
	nav.item-nav
		div.item-id
			| 1234
		ul
			li.active
				i.fa.fa-th-large
				| General
			li
				i.fa.fa-files-o
				| Files
			li
				i.fa.fa-calendar
				| Planning
			li
				i.fa.fa-file-text-o
				| Notes
			li
				i.fa.fa-code
				| Dev
			li
				i.fa.fa-archive
				| History
		div
			| Test
	.container