extends ../layout

block content
	.container.row
		.col-xs-9
			.box
				h4.create-form-title
					i.material-icons note_add
					| File New Request
					i.material-icons.create-form-chevron chevron_right
					span Technical
				.box-base
					.box-chrome
						| test
		.col-xs-3
			.box
				h4
					i.material-icons info_outline
					| Help
				.box-base
					.box-chrome
						| test