extends ../layout

block content
	.container.row
		.col-xs-12
			h4.create-title Which category should this request be filed in?
			ul#create-categories.tiles
				each cat in categories
					li(class='bg-color-' + cat.color,data-link='/create/' + cat.slug)
						i.material-icons= cat.icon
						strong= cat.name
						span= cat.description