extends ../layout

block content
	.container

		.flat-nav
			if teamCount > 0
				ul
					li: a(href='/teams')
						i.typcn.typcn-arrow-left-thick
						= t('actions.back')
			else
				span
					i.typcn.typcn-media-play
					= t('teams:noteamcreate')

		form(method='post', action='/teams/create')
			.row
				.col-xs-9
					.box
						h4.create-form-title
							i.material-icons.color-green-500 add_box
							= t('teams:actions.create')
						.box-base
							.box-chrome
								section
									label= t('teams:create.name.label')
									+fielderror('team_create_name')
									input(name='team_create_name', type='text', placeholder=t('teams:create.name.placeholder'), value='')
									+fieldnote('required', t('teams:create.name.info'))
								section
									label= t('teams:create.description.label')
									+fielderror('team_create_desc')
									input(name='team_create_desc', type='text', placeholder=t('teams:create.description.placeholder'), value='')
									+fieldnote('required', t('teams:create.description.info'))
							.box-actions
								div
									button#setup-submit(type="submit", class="btn btn-green")
										i.typcn.typcn-plus
										= t('actions.create')
				.col-xs-3
					.box
						h4
							i.material-icons info_outline
							| Help
						.box-base
							.box-chrome
								| test