extends ../layout

block content
	.row
		.col-xs-3
			.box
				h4
					i.material-icons info_outline
					| Help
				.box-base
					.box-chrome
						| test
		.col-xs-9
			.box
				h4
					i.material-icons.color-green-500 people
					| File New Request
				.box-base
					.box-chrome
						| test
