extends ../layout

block content
	.row
		.col-xs-3
			.flat-nav
				ul
					li: a(href='/teams/create')
						i.typcn.typcn-plus
						= t('teams:actions.create')
			ul.flat-list
				li.active
					strong 3
					i.material-icons people
					label Global IT Dev
					span Global Development Team
				li
					strong 12
					i.material-icons people
					label Annual Report
					span Annual Report Team
				li
					strong 3
					i.material-icons people
					label Global Graphic Designers
					span Global Graphic Design Team
		.col-xs-9
			.flat-nav
				ul
					li: a(href='/')
						i.typcn.typcn-user-add
						= t('teams:actions.addmember')
					li: a(href='/')
						i.typcn.typcn-bell
						= t('teams:actions.notifyteam')
			.box
				h4
					i.material-icons.color-green-500 people
					| Global IT Dev
				.box-base
					.box-chrome
						| test
