extends ../layout

block content
	.container.row
		.col-xs-9
			.box
				h4
					i.material-icons.color-red-500 note_add
					| Browse
				.box-base
					.box-chrome
						| test
		.col-xs-3
			.box
				h4
					i.material-icons info_outline
					| Help
				.box-base
					.box-chrome
						| test
