include ./common/mixins

doctype html
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		title= appconfig.title

		// Favicon
		each favsize in [32, 96, 16]
			link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize href='/images/favicon-' + favsize + 'x' + favsize + '.png')

		// CSS
		link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Inconsolata|Material+Icons')
		for name in bundles.emit('css/bundle.css')
			link(type='text/css', rel='stylesheet', href='/' + name)

		// JS
		for name in bundles.emit('js/bundle.js')
			script(type='text/javascript', src='/' + name)
		if(page_script)
			script(type='text/javascript', src='/js/' + page_script + '.js')

	body(class='mi-' + navbar_active)
		#root
			include ./common/header
			include ./common/actionbar
			include ./common/alerts
			main
				block content
			include ./common/footer

		block outside
		include ./common/modals
