body.mi-create {

	@include section-common('indigo');

	.create-title {
		margin: 0;
		font-weight: 600;
		font-size: 18px;
		padding: 2px 0 35px;
		color: #FFF;
		text-align: center;
	}

	.create-form-title {
		color: material-color('indigo', '500');

		> .create-form-chevron {
			color: material-color('blue-grey', '600');
			padding-top: 2px;
		}

		> span {
			color: material-color('blue-grey', '800');
		}

	}

	.me-editor {
		min-height: 250px;
	}

}