body.mi-dashboard {

	@include section-common('blue-grey');

	main {
		display: flex;
		height: 100%;
		align-items: stretch;
		padding:0;
		border-bottom: none;
		background-color: #FFF;

		&::before {
			display: none;
		}

	}
	
}

.dashboard {
	background-color: material-color('blue-grey','800');
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1;
	position: relative;

	> h1 {
		background-color: rgba(0,0,0,0.6);
		color:#FFF;
		display: block;
		font-weight: normal;
		margin:0;
		padding: 25px 0;
		text-align: center;
	}

	.dashboard-caption {
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		padding: 5px 8px;
		color: #FFF;
		font-size: 11px;

		> a {
			color: material-color('blue-grey','100');
			display: block;

			strong {
				color: material-color('blue-grey','50');
			}

			&:hover, &:active {
				color: #FFF;
			}

		}

	}

}