body.mi-review {

	@include section-common('teal');

	main {
		display: flex;
		height: 100%;
		align-items: stretch;
		padding:0;
		border-bottom: none;
		background-color: #FFF;

		&::before {
			display: none;
		}

		.review {
			display: flex;
			height: 100%;
			flex: 1;
			align-items: stretch;

			.review-sd {
				flex: 0 0 250px;
				height: 100%;
			}
			.review-list {
				flex: 1;
				display: flex;
				flex-direction: column;
				height: 100%;

				> .list {
					flex: 1;
					overflow: auto;
				}

			}
		}

	}

	footer {
		display: none;
	}

}