body.mi-create {

	@include section-common('red');

	h4.create-title {
		margin: 0;
		font-weight: 600;
		font-size: 18px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding-bottom: 2px;
		color: material-color('blue-grey', '900');
	}

	h4.create-form-title {
		color: material-color('red', '500');

		> i.create-form-chevron {
			color: material-color('blue-grey', '600');
			padding-top: 2px;
		}

		> span {
			color: material-color('blue-grey', '800');
		}

	}

}