
// ========================================
// Standard Box
// ========================================

.box {
	background: #FFF;
	border: solid 1px material-color('blue-grey', '100');
	margin-bottom: 20px;
	padding: 15px 0 0 0;
	border-radius: 3px;
	@include prefix(box-shadow, 0px 0px 0px 1px rgba(255,255,255,0.5));

	> h4 {
		font-size: 18px;
		font-weight: normal;
		margin: 0 0 15px 0;
		padding: 0 15px;
		display: flex;
		align-items: center;

		> i:first-child {
			margin-right: 5px;
		}

	}

	.box-base {
		background-color: #f7f7f7;
		border-radius: 0 0 3px 3px;
		border-top: 1px solid #EEE;
		padding: 8px;

		.box-chrome {
			background-color: #FFF;
			border: 1px solid lighten(material-color('blue-grey', '100'), 7%);
			box-shadow: 0 0 5px 0 rgba(0,0,0,.05);

			& + .box-chrome {
				margin-top: 8px;
			}

			> section {
				padding: 15px;
				border-top: 1px solid lighten(material-color('blue-grey', '100'), 7%);

				&:first-child {
					border-top: none;
				}

				label {
					display: block;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 11px;
					color: material-color('blue-grey', '600');
					margin-bottom: 5px;
				}

				input[type=text] {
					display: block;
					width: 100%;
					padding: 5px 10px;
					margin: 0;
					background-color: #FFF;
					color: material-color('blue-grey', '600');
					font-size: 13px;
					font-weight: 400;
					font-family: 'Open Sans', sans-serif;
					border: 1px solid material-color('blue-grey', '100');
					border-radius: 2px;
					box-sizing: border-box;
					transition: all 0.5s ease;
					outline: none;
					@include prefix(box-shadow, inset 0 0 5px 0 rgba(0,0,0,0.05));

					&:hover {
						@include prefix(box-shadow, inset 0 0 5px 0 rgba(0,0,0,0.20));
						border-color: material-color('blue-grey', '200');
					}

					&:focus {
						outline: none;
						@include prefix(box-shadow, inset 0 0 5px 0 material-color('light-blue', '200'));
						border-color: material-color('light-blue', '300');
						color: material-color('light-blue', '800');
					}

				}

				select {
					display: block;
					width: 100%;
					padding: 4px 10px;
					margin: 0;
					background-color: #FFF;
					color: material-color('blue-grey', '600');
					font-size: 13px;
					font-weight: 400;
					font-family: "Open Sans",sans-serif;
					border: 1px solid material-color('blue-grey', '100');
					border-radius: 2px;
					box-sizing: border-box;
					outline: none;
					@include prefix(box-shadow, inset 0 0 5px 0 rgba(0,0,0,0.05));
					transition: all 0.5s ease;

					&:hover {
						@include prefix(box-shadow, inset 0 0 5px 0 rgba(0,0,0,0.20));
						border-color: material-color('blue-grey', '200');
					}

					&:focus {
						outline: none;
						@include prefix(box-shadow, inset 0 0 5px 0 material-color('light-blue', '200'));
						border-color: material-color('light-blue', '300');
						color: material-color('light-blue', '800');
					}

				}

				.note {
					margin-top: 5px;
					font-size: 11px;
					color: material-color('blue-grey', '300');

					> strong {
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: .5px;
						font-size: 10px;
						display: inline-block;
						border-right: 1px solid material-color('blue-grey', '100');
						padding-right: 5px;
						margin-right: 5px;
					}

				}

			}

		}

		.box-list {
			list-style-type: none;
			margin: 0;
			padding: 1px;

			> li {
				padding: 5px;
				margin: 0;
				border-top:1px dotted #DDD;
				display: flex;
				align-items: center;
				font-size: 14px;
				cursor: pointer;
				transition: background-color 0.4s ease;
				color: material-color('blue-grey', '800');

				> i:first-child {
					margin-right: 5px;
					font-size: 24px;
					align-self: stretch;
				}

				&:hover {
					border-top: 1px solid material-color('blue-grey', '50');
					background-color: material-color('blue-grey', '50');

					& + li {
						border-top: 1px solid material-color('blue-grey', '50');
					}

				}

				&:first-child {
					border-top: none;
				}

				&.active {
					border-top: 1px solid material-color('blue-grey', '500');
					background-color: material-color('blue-grey', '500');
					color: #FFF;

					& + li {
						border-top: 1px solid material-color('blue-grey', '500');
					}
				}

			}

		}

		.box-checklist {
			list-style-type: none;
			padding: 0;
			margin: 0;

			> li {
				display: block;
				padding: 15px;
				border-top: 1px solid lighten(material-color('blue-grey', '100'), 7%);
				display: flex;
				align-items: center;

				&:first-child {
					border-top: none;
				}

				> i:first-child {
					margin-right: 10px;
				}
			}

		}

	}

}

// ========================================
// Selection Tiles
// ========================================

ul.tiles {
	padding: 10px 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	color: #FFF;

	> li {
		flex: 1;
		flex-basis: 20%;
		display: block;
		padding: 0;
		border-radius: 3px;
		margin: 5px;
		transition: all 0.6s ease;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		> i {
			display: block;
			text-align: center;
			font-size: 48px;
			margin-top: 15px;
		}

		> strong {
			display: block;
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin: 15px 0;
		}

		span {
			display: block;
			text-align: center;
			padding: 20px 12px;
			background-color: rgba(255,255,255,0.2);
			font-size: 11px;
		}

	}

}