
// ========================================
// FLAT LIST
// ========================================

.flat-list {
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid material-color('blue-grey', '800');
	border-radius: 3px;
	@include prefix(box-shadow, 0 0 0 1px rgba(255,255,255,0.25));

	> li {
		display: flex;
		background-color: material-color('blue-grey', '700');
		padding: 10px;
		color: #FFF;
		border-bottom: 1px solid material-color('blue-grey', '800');
		transition: all 0.5s ease;
		cursor: pointer;
		position: relative;
		align-items: center;

		& + li {
			border-top: 1px solid material-color('blue-grey', '600');
		}

		&:first-child {
			border-radius: 3px 3px 0 0;
		}

		&:last-child {
			border-radius: 0 0 3px 3px;
			border-bottom: 0;
		}

		&:hover {
			background-color: material-color('blue-grey', '600');
		}

		&.active {
			background-color: material-color('blue-grey', '800');
		}

		> .material-icons {
			margin-right: 10px;
		}

		> label {
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;
			display: flex;
			flex-direction: column;
			margin: 2px 0 0 0;
			cursor: inherit;

			> span {
				margin-top: 5px;
				font-size: 11px;
				font-weight: 300;
				color: material-color('blue-grey', '100');
			}

		}

		> span {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 10px;

			> strong {
				font-weight: 400;
				font-size: 11px;
			}

		}

	}

}