.list {

	.list-content {
		outline: none;
	}

	.list-row {
		padding: 0 0 0 13px;
		display: flex;
		font-size: 13px;
		box-sizing: border-box;
		cursor: pointer;
		position: relative;
		z-index: 1;
		height: 34px;
		align-items: stretch;

		&::before {
			content: " ";
			display: block;
			position: absolute;
			width: 2px;
			height: 34px;
			background-color: material-color('light-blue', '700');
			top: 0;
			left: 22px;
			z-index: -1;
		}

		&:nth-child(odd) {
			background-color: #FFF;
		}

		&:nth-child(even) {
			background-color: material-color('blue-grey', '50');

			.cell-summary > ul {
				background-color: material-color('blue-grey', '50');
			}

		}

		&:hover {
			background-color: material-color('teal', '100');

			.cell-summary > ul {
				background-color: material-color('teal', '100');
			}

		}

		&.sub {
			padding-left: 30px;

			&::after {
				content: " ";
				display: block;
				position: absolute;
				width: 10px;
				height: 2px;
				background-color: material-color('light-blue', '700');
				top: 16px;
				left: 24px;
				z-index: -1;
			}

		}

	}

	.list-status-row {
		background-color: material-color('blue-grey', '700');
		padding: 0 15px;
		color: #FFF;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		height: 34px;
		box-sizing: border-box;
		position: relative;
		z-index: 1;

		&::before {
			@extend .list-row::before;
		}

		> i {
			display: inline-block;
			width: 16px;
			height: 16px;
			background-color: material-color('light-blue', '500');
			border-radius: 50%;
			margin-right: 10px;
		}

	}

	.cell-id {
		display: flex;
		align-items: center;
		flex: 0 1 84px;
		padding-right: 20px;

		> span {
			display: inline-flex;
			background-color: material-color('blue-grey', '700');
			border: 2px solid material-color('blue-grey', '700');
			border-radius: 12px;
			color: #FFF;
			padding-right: 8px;
			align-items: center;
			font-size: 12px;
			font-weight: 600;
			position: relative;
			height: 20px;

			&::before {
				content: " ";
				display: inline-block;
				width: 16px;
				height: 16px;
				background-color: material-color('light-blue', '500');
				border-radius: 50%;
				margin-right: 5px;
			}
			&::after {
				content: " ";
				display: inline-block;
				width: 6px;
				height: 6px;
				background-color: transparent;
				border: 1px solid transparent;
				position: absolute;
				right: -15px;
				top: 5px;
				z-index: -1;
				transform: rotate(45deg);
			}

			&.high::after {
				background-color: material-color('red', '400');
				border-color: material-color('red', '600');
			}

			&.normal::after {
				background-color: material-color('brown', '300');
				border-color: material-color('brown', '400');
			}

			&.low::after {
				background-color: material-color('amber', '300');
				border-color: material-color('amber', '500');
			}

		}

	}

	.cell-summary {
		display: flex;
		align-items: center;
		position: relative;
		
		> span {

		}

		> ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			position: absolute;
			right: 0;
			display: inline-flex;
			align-items: center;
			flex-direction: row-reverse;
			height: 34px;
			background-color: #FFF;

			> li {
				display: inline-flex;
				align-items: center;
				background-color: material-color('red', '400');
				border-radius: 5px;
				color: #FFF;
				font-size: 11px;
				font-weight: 600;
				margin-left: 5px;
				height: 24px;
				padding: 0 8px;
				text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
				text-transform: uppercase;
			}

		}

	}

	.cell-labels {
		display: flex;
		align-items: center;
		padding: 0 8px;
		background-color: transparentize(#000, 0.97);
	}

	.cell-avatar {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 34px;

		img {
			width: 24px;
			height: 24px;
			border-radius: 5px;
		}
		
	}

}

.list-header {
	background-color: material-color('teal', '600');
	height: 50px;
	padding: 0 32px 0 15px; // Right take account for scrollbar width of 17px
	margin: 0;
	list-style-type: none;
	display: flex;
	align-items: center;

	div {
		color: #FFF;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
	}

	i.fa {
		font-size: 16px;
	}

}

.clusterize-extra-row.clusterize-keep-parity{
  display: none;
}