.sdl {

	background-color: material-color('teal', '700');
	box-sizing: border-box;
	height: 100%;
	flex: 1;

	h4 {
		color: #FFF;
		margin: 0;
		padding: 10px;
		font-weight: 400;
		font-size: 18px;
	}

}