// ========================================
// Selection Tiles
// ========================================

ul.tiles {
	padding: 10px 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	color: #FFF;

	> li {
		flex: 1;
		flex-basis: 20%;
		display: block;
		padding: 0;
		border-radius: 3px;
		margin: 5px;
		transition: all 0.6s ease;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		> i {
			display: block;
			text-align: center;
			font-size: 48px;
			margin-top: 15px;
		}

		> strong {
			display: block;
			text-align: center;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin: 15px 0;
		}

		span {
			display: block;
			text-align: center;
			padding: 20px 12px;
			background-color: rgba(255,255,255,0.2);
			font-size: 11px;
		}

	}

}