nav.actionbar
	h3 Quick Access Panel
	h4
		i.material-icons face
		| #{usr.firstName}
	ul
		li: a(href='/settings') Settings
		li: a(href='/logout') Logout
	h4
		i.material-icons pin_drop
		| Pinned
	ul
		li: a(href='/') Test
	h4
		i.material-icons schedule
		| Recent