
.modal#id-modal-logout
	.modal-box
		i.material-icons people
		h4= t('auth.logout.title')
		label= t('auth.logout.msg')
		.modal-actions
			button.act-cancel(class="grey")= t('actions.cancel')
			button.act-ok(class="red")= t('actions.logout')