extends ../layout

block content
	.row
		.col-xs-3
			.flat-nav
				ul
					li: a(href='/')
						i.fa.fa-plus
						= t('projects:actions.create')
			ul.flat-list
				li.active
					span
						i.material-icons work
					label Corporate Website
						span Public-facing corporate website
				li
					i.material-icons work
					label Annual Report 2015
						span Cupcake ipsum bacon
				li
					i.material-icons work
					label Intranet
						span Lorem ipsum sit dolor
		.col-xs-9
			.flat-nav
				ul
					li: a(href='/')
						i.fa.fa-plus
						= t('projects:actions.addmember')
					li: a(href='/')
						i.fa.fa-bell-o
						= t('projects:actions.notifymembers')
					li: a(href='/')
						i.fa.fa-archive
						= t('projects:actions.archive')
					li: a(href='/')
						i.fa.fa-pencil
						= t('projects:actions.edit')
			.box
				h4
					i.material-icons.color-orange-500 work
					| Intranet
				.box-base
					.box-chrome
						| test
