body {
  background-color: material-color('blue-grey', '900');
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 47px 0 0 0;
}

main {
	background-color: #FFF;
	background-image: linear-gradient(to bottom, material-color('blue-grey', '50'), #FFF);
	border-bottom: 1px solid #FFF;
	min-height: 60vh;
	position: relative;
	z-index: 1;

	&::before {
		content: " ";
		display: block;
		width: 100%;
		height: 75px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	> .container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1170px;
		padding: 20px 0 0 0;
		@include clearfix;
	}

}

a {
	text-decoration: none;
}

// ========================================
// Utilities
// ========================================

.hidden {
	display: none !important;
}

@for $i from 1 through 4 {
	.margin-bottom-#{$i * 5} {
		margin-bottom: #{$i * 5}px !important;
	}
	.margin-top-#{$i * 5} {
		margin-top: #{$i * 5}px !important;
	}
	.padding-#{$i * 5} {
		padding: #{$i * 5}px !important;
	}
}