html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: material-color('blue-grey', '900');
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
	position: relative;
	padding: 47px 0 0 0;
	transition: all 0.5s ease;
	height: 100%;

	&.pushed {
		transform: translate(-250px, 0);

		> main {
			opacity: 0.5;
		}

	}

}

main {
	background-color: #FFF;
	background-image: linear-gradient(to bottom, material-color('blue-grey', '100'), #FFF);
	border-bottom: 1px solid #FFF;
	min-height: 60vh;
	position: relative;
	z-index: 1;
	transition: all 0.5s ease;

	&::before {
		content: " ";
		display: block;
		width: 100%;
		height: 75px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	> .container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1170px;
		padding: 20px 0 0 0;
		@include clearfix;
	}

}

a {
	text-decoration: none;
}

// ========================================
// Utilities
// ========================================

.hidden {
	display: none !important;
}

@for $i from 1 through 4 {
	.margin-bottom-#{$i * 5} {
		margin-bottom: #{$i * 5}px !important;
	}
	.margin-top-#{$i * 5} {
		margin-top: #{$i * 5}px !important;
	}
	.padding-#{$i * 5} {
		padding: #{$i * 5}px !important;
	}
}

@for $i from 1 through 6 {
	&.width-#{$i * 50} {
		flex: 0 0 #{$i * 50}px;
	}
}
&.width-fill {
	flex: 1;
}

// ========================================
// Headers
// ========================================

.default-icon {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}

.default-msg {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #FFF;
}

// ========================================
// Error Page
// ========================================

.server-error {
	color: #FFF;
	text-align: center;

	h1 {
		color: #FFF;
		font-weight: 300;
		text-align: center;
	}

	h4 {
		color: material-color('blue-grey', '200');
		margin-bottom: 40px;
	}

	pre {
		border-top: 1px solid material-color('blue-grey', '400');
		color: material-color('blue-grey', '200');
		font-size: 11px;
		padding: 15px;
		text-align: left;
	}

}

// ========================================
// Animations
// ========================================

@include keyframes(swing) {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@include keyframes(slideFromRight) {
	from {
		transform: translate3d(25%, 0, 0);
		opacity: 0.1;
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@include keyframes(zoomOut) {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	to {
		opacity: 0;
	}
}