header {
	background-color: material-color('blue-grey', '900');
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 5px solid  material-color('blue-grey', '500');
	box-sizing: border-box;

	nav.navbar {
		flex: 1;

		> ul {
			margin: 0;
			padding: 0 0 0 12px;

			> li {
				display: inline-block;
				padding: 12px 12px 12px 40px;
				color: #FFF;
				font-size: 13px;
				//text-transform: uppercase;
				cursor: pointer;
				transition: all 0.6s ease;
				letter-spacing: 0.3px;
				position: relative;

				> i {
					position: absolute;
					top: 10px;
					left: 12px;
				}

				&:hover {
					background-color: material-color('blue-grey', '700');
				}

				&.active {
					background-color: material-color('blue-grey', '500');
				}

			}

		}
		
	}

	nav.userbar {
		flex: 1;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: stretch;

		#notifload {
			width: 42px;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: opacity 0.5s ease;

			&::before {
				content: " ";
				@include spinner(material-color('blue-grey', '300'),0.5s,20px);
			}

			&.active {
				opacity: 1;
			}

		}

		#notifbtn {
			display:block;
			width: 42px;
			color: material-color('blue-grey', '300');
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.5s ease;

			&:hover {
				background-color: material-color('blue-grey', '800');
				color: #FFF;
			}

		}

		#searchbox {
			background-color: darken(material-color('blue-grey', '900'), 4%);
			width: 15vw;
			display: flex;
			align-items: center;

			> span {
				width: 100%;
			}

			.tt-hint {
				background-color: transparent !important;
				width: 100%;
				height: 42px;
				margin: 0;
				padding: 0 10px;
				border: none;
				box-sizing: border-box;
				color: material-color('blue-grey', '400');
			}

			.tt-input {
				background-color: transparent;
				width: 100%;
				height: 42px;
				margin: 0;
				padding: 0 10px;
				border: none;
				color: material-color('blue-grey', '100');
				box-sizing: border-box;

				&:focus {
					outline: none;
				}

				&:hover {
					@include placeholder {
						color: material-color('blue-grey', '200');
					}
				}

				@include placeholder {
					color: material-color('blue-grey', '400');
					font-style: italic;
					transition: color 0.5s ease;
				}
			}

			.tt-menu {
				background-color: material-color('blue-grey', '500');
				color: material-color('blue-grey', '100');
				width: 100%;

				.tt-suggestion {
					padding: 6px 10px;
					border-top: 1px dotted material-color('blue-grey', '300');

					&:first-child {
						border-top: none !important;
					}

					&.tt-cursor {
						background-color: material-color('indigo', '900');
						color: material-color('indigo', '50');
						border-top: 1px solid material-color('blue-grey', '900');

						& + .tt-suggestion {
							border-top: 1px solid material-color('blue-grey', '400');
						}

					}

					.tt-highlight {
						color: material-color('indigo', '50');
						font-weight: 400;
					}

				}

			}
			

		}

		#usravatar {
			background-size: cover;
			background-repeat: no-repeat;
			width: 42px;
			display: block;
			cursor: pointer;
			transition: all 0.5s ease;

			&:hover {
				opacity:0.6;
			}

		}

	}

}

nav.actionbar {
	background-color: transparentize(material-color('blue-grey', '900'), 0.1);
	position: fixed;
	top: 47px;
	right: -300px;
	width: 250px;
	color: #FFF;
	height: 100vh;
	transition: right 1s ease;

	&.active {
		right: 0;
	}

	> h4 {
		background-color: material-color('blue-grey', '500');
		border-bottom: 2px solid material-color('blue-grey', '300');
		padding: 8px;
		display: block;
		margin: 0;
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 600;

		> i:first-child {
			margin-right: 5px;
			font-size: 24px;
			align-self: stretch;
		}
	}

	> ul {
		list-style-type: none;
		margin:0;
		padding: 0 0 0 15px;

		> li {
			display: block;
			border-top: 1px dotted rgba(255,255,255,0.6);
			padding:0;
			font-size: 13px;

			&:first-child {
				border-top: none;
			}

			> a {
				display: block;
				padding: 8px 8px 8px 0;
				color: #FFF;

				&:hover {
					color: material-color('blue-grey', '200');
				}

			}

		}

	}

}