/**
 * Clearfix
 *
 * @return     {string}  Clearfix attribute
 */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Placeholder attribute for inputs
 *
 * @return     {string}  Placeholder attributes
 */
@mixin placeholder {
	&::-webkit-input-placeholder {@content};
	&::-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
	&:placeholder-shown {@content};
}

/**
 * Spinner element
 *
 * @param      {string}  $color             - Color
 * @param      {string}  $dur               - Animation Duration
 * @param      {int}     $width             - Width
 * @param      {int}     $height  [$width]  - height
 *
 * @return     {string}  Spinner element
 */
@mixin spinner($color,$dur,$width,$height:$width) {
	width: $width;
	height: $height;
	border-radius: 50%;
	box-shadow:0 0 0 1px rgba(0,0,0,0.1), 2px 1px 0 $color;
	@include prefix(animation, spin $dur linear infinite);
	@include keyframes(spin) {
		100%{
		 @include prefix(transform, rotate(360deg));
		}
	};
}

/**
 * Prefixes for keyframes
 *
 * @param      {string}  $animation-name          - The animation name
 *
 * @return     {string}  Prefixed keyframes attributes
 */
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

/**
 * Prefix function for browser compatibility
 *
 * @param      {string}  $property          - Property name
 * @param      {any}     $value             - Property value
 *
 * @return     {string}  Prefixed attributes
 */
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

/**
 * Section specific color theming mixin
 *
 * @param      {string}  $accent          - Accent color name
 *
 * @return     {string}  Section specific color overrides
 */
@mixin section-common($accent) {

	//-> Header [layout/header]

	header {
		border-color: material-color($accent, '500');

		nav.navbar > ul > li.active {
			background-color: material-color($accent, '500');
		}

	}

	//-> Action Bar [layout/header]

	nav.actionbar {
		> h3 {
			background-color: material-color($accent, '500');
		}
		> h4 {
			background-color: material-color($accent, '700');
			border-top-color: lighten(material-color($accent, '600'), 15%);
			border-bottom-color: lighten(material-color($accent, '600'), 15%);
		}
	}

	//-> Footer [layout/footer]

	footer {
		border-top-color: material-color($accent, '500');
	}

	//-> Main [layout/common]

	main {
		&::before {
			background-color: material-color($accent, '500');
		}
	}

	//-> Box [components/box]

	.box .box-base {

		.box-chrome {

			.box-header {
				background-color: material-color($accent, '300');
			}

			> section.alt {
				background-color: lighten(material-color($accent, '50'), 3%);
				color: material-color($accent, '800');
			}

		}

		.box-list > li {

			&.active {
				border-top: 1px solid material-color($accent, '500');
				background-color: material-color($accent, '500');

				& + li {
					border-top: 1px solid material-color($accent, '500');
				}

			}

		}
	}

	//-> Splash [components/splash]

	.splash {
		background-color: material-color($accent, '500');

		> h4 {
			@include prefix(text-shadow, 1px 1px 0 material-color($accent, '700'));
		}

		> .btn {
			color: material-color($accent, '800');
		}

	}

	//-> Flat-List  [components/flat-list]
	
	/*.flat-list {
		border-color: material-color($accent, '800');

		> li {
			background-color: material-color($accent, '700');
			border-bottom-color: material-color($accent, '800');

			& + li {
				border-top-color: material-color($accent, '600');
			}

			&:hover {
				background-color: material-color($accent, '600');
			}

			&.active {
				background-color: material-color($accent, '800');
			}

			> strong {
				background-color: material-color($accent, '300');
				color: material-color($accent, '900');
			}

		}

	}*/

}