body {
  background-color: material-color('blue-grey', '900');
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 47px 0 0 0;
}

main {
	background-color: #FFF;
	background-image: linear-gradient(to bottom, material-color('blue-grey', '50'), #FFF);
	min-height: 60vh;

	> .container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1170px;
		padding: 20px 0 0 0;
		@include clearfix;
	}

}

// ========================================
// Utilities
// ========================================

.hidden {
	display: none !important;
}