@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&::-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
	&:placeholder-shown {@content}
}

@mixin spinner($color,$dur,$width,$height:$width) {
	width: $width;
	height: $height;
	border-radius: 50%;
	box-shadow:0px 0px 0px 1px rgba(0,0,0,0.1), 2px 1px 0px $color;
	@include prefix(animation, spin $dur linear infinite);
	@include keyframes(spin) {
		100%{
		 @include prefix(transform, rotate(360deg));
		}
	};
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

@mixin section-common($accent) {

	header {
		border-color: material-color($accent, '500');

		nav.navbar > ul > li.active {
			background-color: material-color($accent, '500');
		}

		nav.userbar #searchbox .tt-menu {
			background-color: material-color($accent, '500');
			color: material-color($accent, '100');

			.tt-suggestion {
				border-top-color: material-color($accent, '200');

				&.tt-cursor {
					background-color: material-color($accent, '900');
					color: material-color($accent, '50');
					border-top-color: material-color($accent, '900');

					& + .tt-suggestion {
						border-top-color: material-color($accent, '300');
					}

				}
				.tt-highlight {
					color: material-color($accent, '50');
				}
			}

		}

	}

	nav.actionbar > h4 {
		background-color: material-color($accent, '500');
		border-bottom-color: lighten(material-color($accent, '500'), 15%);
	}

	.box .box-base .box-list > li {

		&.active {
			border-top: 1px solid material-color($accent, '500');
			background-color: material-color($accent, '500');

			& + li {
				border-top: 1px solid material-color($accent, '500');
			}

		}
	}

}